################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleApp/obj
/SampleApp/bin/Debug/netcoreapp3.0
/src/obj
/src/bin/Debug/netcoreapp3.0
/.vs/BlazorScopedCss/v16
